 .appContainer  {
  /* background: linear-gradient(#0a171d, #000); */
  background-color: black;
  /* overflow-x: hidden;  */
  /* overflow-y: hidden;  */
}

/* .appContainer {
  overflow-x:hidden;
  overflow-y:hidden;

}

::-webkit-scrollbar {
  display: none;
  width: 0;
}
html, body {
  max-width: 100%;
  overflow-x: hidden;
} */
::-webkit-scrollbar {
display:none;
}