.text-thinking {
  position: absolute;
  top: 600px;
  left: 50px;
}

.text-msg {
  position:absolute;
  left:50px;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 45px;
}

.text-bubble {
  position:relative;
  background-color: #525252;
  display: block;
  width: 580px;
  height: 170px;
  border-radius: 75px;
  margin: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}